<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spd-url-shortener.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6f93301b-07a5-4d8e-8b3b-e86ea4a561d1/resourceGroups/jh/providers/Microsoft.Web/sites/spd-url-shortener</ResourceId>
    <UserName>$spd-url-shortener</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://spd-url-shortener.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>